 .u-section-1 {
  background-image: none;
  min-height: 1098px;
}

.u-section-1 .u-image-1 {
  height: 452px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 726px;
  min-height: 833px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -256px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-icon-1 {
  width: 153px;
  height: 153px;
  box-shadow: 5px -10px 20px 0 rgba(0,0,0,0.4);
  color: rgb(0, 0, 0) !important;
  background-image: none;
  margin: -54px auto 0;
  padding: 31px;
}

.u-section-1 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-1 .u-form-1 {
  height: 473px;
  width: 570px;
  margin: 34px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-input-1 {
  background-image: none;
  font-size: 1.125rem;
  --radius: 50px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
  font-size: 1rem;
}

.u-section-1 .u-label-2 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
  font-size: 1.125rem;
  --radius: 50px;
}

.u-section-1 .u-label-3 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-input-3 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-1 .u-label-4 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-input-4 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  font-size: 1.125rem;
  padding: 27px 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 1.125rem;
  border-style: none;
  margin: 64px auto 0 48px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 1.125rem;
  border-style: none;
  margin: -29px auto 0 385px;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 985px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-icon-1 {
    padding: 0;
  }

  .u-section-1 .u-form-group-1 {
    height: 360px;
    width: 570px;
    margin-top: -28px;
    margin-right: 48px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-form-group-1 {
    margin-right: 42px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 45px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 382px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }

  .u-section-1 .u-form-group-1 {
    width: 520px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 4px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 243px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .u-form-group-1 {
    width: 320px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 14px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 53px;
  }
}